/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --title-color: #db00ff;
  --decorate-element: #ff0070;
  --accent-color: #ff0070;
  --content-color: #ff0070;
  --content-color-title: #ff0070;
  --content-color-title-point: #000028;
  --text-color: #f1b2ce;
  --header-background-text: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}